services:
  app:
    container_name: app-dev
    build: .
    ports:
      - "3000:${PORT:-3000}"
    environment:
      - REDIS_URL=redis://redis:6379
      - NODE_ENV=development
    env_file:
      - .env
    depends_on:
      - redis
    restart: no

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    restart: always
